/* ------------------------- */
/* REGISTRATION FORM WRAPPER */
/* ------------------------- */

.bgn-wf-wrapper * {
	box-sizing: border-box;
	text-align: left;
	margin: 0;
    color: inherit;
}

.bgn-wf-wrapper {
	width: 100%;
	max-width: 900px;
	border: none;
	padding: 15px;
	background-color:white;
    position: relative;
}

.bgn-wf-wrapper form {
    margin: 0;
    padding: 0;
    line-height: normal;
}
.bgn-wf-row {
	/* used for testing purposes only */	
	/* border: 2px dashed green; */
	/*  */
	padding: 10px 0 10px 0;
    /* top right bottom left */
	display: flex;
    /* color: black; */
}
.bgn-wf-label{
	/* used for testing purposes only */
	/* border: 2px dashed orange; */
	/*  */
    width: 25%;
	padding: 0 5px 0 10px;
    /* top right bottom left */
	position: relative;
    max-width: 175px;
}
.bgn-wf-field {
	text-align: left;
	width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    position: relative;
}

.bgn-wf-field.full {
	/* used for testing purposes only */
	/* border: 2px dashed #00f16d; */
	/*  */
	max-width: 500px;
}
.bgn-wf-field.half {
	/* used for testing purposes only */
	/* border: 2px dashed violet; */
	/*  */
	max-width: 260px;
}
.check {
    /* used for testing purposes only */
    /* border:2px dashed black; */
    /*  */
    padding-left: 15px;
}

.bgn-wf-field input {
    width: 80%;
    appearance: none;
    position: relative;
    display: block;
	color: #2d3748;
	border-radius: 2px;
    border: 1px solid #cbd5e0;
	box-shadow: inset 0 2px 4px 0 grey;
}

.bgn-star {
	color: red;
    z-index: 1;
    text-transform: inherit;
    position: absolute;
}

form .button {
    width: 100%;
    padding: 10px 0 10px 0;
    /* top right bottom left */
    background-color: #28A55F;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    margin-left:  30px;
}
form .button:hover {
    background-color: #4FDA8C;
}
form .button:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 590px) {
	.bgn-wf-wrapper {
		max-width: 80% !Important;
		border: 0;
	}
	.bgn-wf-row, .bgn-wf-label, .bgn-wf-field {
		display: block;
		width: 100%;
	}
	.bgn-wf-field input[type=text], .bgn-wf-field select, .bgn-wf-field textarea { width: 100% !important; }
	.bgn-wf-field div > select{ width: auto !important;	}
	.bgn-wf-label:empty{ display: none; }
}

/* ================================== */
/* Validation fields */
/* ================================== */

.icon {
    margin: 0;
    padding: 0;
	 width: 24px;
	 height: 24px;
     display: inline-block;
     position: relative;
	 pointer-events: none;
	 z-index: 2;
}
.icon.icon-success {	
    fill: green;
}
.icon.icon-error {
	 fill: red;
}
.hidden {
	 display: none;
}
.error-message {
	 font-size: 0.85rem;
	 color: red;
}

.input::placeholder {
	 color: #a0aec0;
}
.input.input-error {
	 border: 1px solid red;
}
.input.input-error:focus {
	 border: 1px solid red;
}
.input:focus {
	 outline: none;
	 border: 1px solid blue;
}
